.shoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
  background-color: #f4e4c1;
}

.shoes img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}